.box-smell {
    height: 35px;
}

.fit {
    width: 450px;
    height: 450px;
    margin: auto;
}

.input-group {
    width: 170px;
}

.img-thumbnail {
    min-width: 96px; 
    height: 96px;
}

.picture-perfume {
    width: 60px;
    height: 60px;
}

