
<header class="p-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-start col-12 col-lg-auto">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none ">
                  <img src="assets/logo.jpg" alt="mdo" width="120" height="120" >
                </a>
            </div>

            <div class="d-flex flex-wrap w-30 align-items-center justify-content-center justify-content-lg-center col-12 col-lg-auto">
                <form class="d-flex position-relative w-100 col-lg-auto mb-3 mb-lg-0 me-lg-3 col-12">
                    <input type="text" [(ngModel)]="keyWord" name="wordKey" class="form-control" placeholder="Search..." aria-label="Search">
                    <a class="d-flex position-absolute top-50 end-12 translate-middle-y align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
                    (click)="searchPerfume()">
                        <i class="bi bi-search"></i>
                    </a>
                </form>
            </div>
            
              <div class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-end col-12 col-lg-auto">
                <div class="text-start me-4 col-12 col-lg-auto">
                    <a class="d-flex align-items-center text-dark text-decoration-none" (click)="getCartPerfume()">
                        <i class="bi bi-cart position-relative">
                            <span *ngIf="productAmount > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {{productAmount}}
                            </span>
                        </i>
                    </a>
                </div>
                
                <div class="my-account-hover pe-3 ps-3 border-start border-black col-12 col-lg-auto mb-2">
                    <div class="my-flex">
                        <span class="css-2li2mm"></span>
                        <div class="css-2bt05d">
                            <p class="css-1t15j57">Xin chào, Khách</p>
                            
                            <div class="css-vfok74">
                                <a href="/account/login" class="css-1ikefia text-decoration-none">Đăng nhập</a>
                                hoặc
                                <a href="/account/register" class="css-1ikefia text-decoration-none">Đăng ký</a>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="dropdown col-12 col-lg-auto">
                  <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                  </a>
                  <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
                </div>
              </div>
        </div>
    </div>
</header>